@import "tailwindcss";

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 4px rgba(0, 51, 153, 1), 0 0 4px rgba(0, 51, 153, 1),
      0 0 4px rgba(0, 51, 153, 1), 0 0 4px rgba(0, 51, 153, 1);
  }

  .text-shadow-lg {
    text-shadow: 0 0 8px rgba(0, 51, 153, 1), 0 0 8px rgba(0, 51, 153, 1),
      0 0 8px rgba(0, 51, 153, 1), 0 0 8px rgba(0, 51, 153, 1);
  }

  .text-shadow-hover {
    text-shadow: 0 0 4px rgb(134, 206, 17), 0 0 4px rgb(134, 206, 17),
      0 0 4px rgb(134, 206, 17), 0 0 4px rgb(134, 206, 17);
  }

  .text-shadow-xl {
    text-shadow: 0 0 12px rgba(0, 51, 153, 1), 0 0 12px rgba(0, 51, 153, 1),
      0 0 12px rgba(0, 51, 153, 1), 0 0 12px rgba(0, 51, 153, 1);
  }
}
